---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Articles from "../components/Articles.astro";
import Buttons2 from "../components/Buttons2.astro";
---

<!-- SM: er 640px i width -->
<MainLayout title="Vores mission">
  <section
    class="flex-col flex lg:flex-row mr-section_right ml-section_left place-content-between top mb-10 mt-15"
  >
    <Heading htmlheading="h2" size="medium" stylingclasses="mb-6 lg:max-w-lg">
      DELTAG I KAMPEN I MOD MADSPILD
    </Heading>

    <div class="flex flex-col gap-3 lg:items-end">
      <div onclick="ScrollToTips()">
        <Link variant="yellow" size="small"> LÆS OM VORES TIPS </Link>
      </div>
      <div onclick="ScrollToHistorie()">
        <Link variant="black" size="small"> VORES HISTORIE </Link>
      </div>
    </div>
  </section>

  <section
    class="carousel overflow-x-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]"
  >
    <div class="group">
      <!-- Forklar de andre hvad flex grow shrink og basis er -->
      <img
        src="/img/frugt1.webp"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt2.webp"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt3.webp"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt4.webp"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt5.webp"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
      <img
        src="/img/frugt6.webp"
        alt=""
        class="carousel_img grow-0 shrink-0 basis-5em"
      />
    </div>
  </section>

  <section
    class="flex flex-col place-items-center mt-10 mb-30 animate-bounce animate-infinite animate-ease-in p-5 hover:cursor-pointer lg:mb-80"
  >
    <img src="/img/arrow_d.svg" alt="" id="scrollDown" />
  </section>

  <section
    class="mt-5 flex flex-col lg:mr-section_right lg:ml-section_left mb-section_buttom"
  >
    <div
      class="mx-auto max-w-sm flex flex-col place-content-between md:max-w-xl lg:mb-50 lg:max-w-4xl lg:mb-40"
      id="tips"
    >
      <div class="lg:grid lg:grid-cols-2 lg:gap-5">
        <div class="lg:col-2">
          <Heading htmlheading="h2" size="medium" stylingclasses="mb-6">
            Hvad kan vi gøre?
          </Heading>

          <Text size="small">
            Emner som disse kan virke store og uoverskuelige. Det kan være svært
            at vide hvor man skal starte, hvis man gerne vil hjælpe med at gøre
            en forskel. Derfor har vi her nogle simple vaner man kan indfører i
            hverdagen, som hjælper til med at mindske mængden af madspild:</Text
          >

          <div class="flex flex-col gap-3 mt-5 lg:mt-20">
            <!-- <Button> KØB ENKELT VARE </Button> -->
            <div onclick="ScrollToTip1()" class="cursor-pointer">
              <Buttons2 variant="green" size="small"> KØB ENKELT VARE</Buttons2>
            </div>
            <div onclick="ScrollToTip2()" class="cursor-pointer">
              <Buttons2 variant="orange" size="small">
                KØB IND MED OMTANKE</Buttons2
              >
            </div>
            <div onclick="ScrollToTip3()" class="cursor-pointer">
              <Buttons2 variant="purple" size="small"> DOGGY BAGS</Buttons2>
            </div>
            <!-- <Button> KØB IND MED OMTANKE </Button>
        <Button> DOGGY BAGS</Button> -->
          </div>
        </div>

        <img
          src="/img/food_bag.webp"
          alt=""
          class="mx-auto mt-10 order-3 h-90 md:h-100 md:mt-15 lg:h-fit lg:w-fit lg:col-1 lg:row-1 lg:-mt-10"
        />
      </div>
    </div>
  </section>

  <section
    class="mb-section_buttom mt-section_top mx-auto max-w-sm flex flex-col md:max-w-xl md:max-w-4xl lg:max-w-4xl lg:flex lg:flex-col"
  >
    <div id="tip1" class="lg:grid lg:grid-cols-2 lg:gap-20 lg:mb-40">
      <div>
        <Link variant="green-inverted" size="small">Tip 1</Link>
        <Heading
          htmlheading="h2"
          font="sans"
          size="medium"
          stylingclasses="my-6"
        >
          Fortsæt med at købe enkelt-varer
        </Heading>

        <div class="sm:flex flex-col gap-3">
          <Text size="small"
            >I 2017 medvirkede Stop Spild Af Mad til at Rema 1000 droppede
            mængerabatter i alle kædens danske butikker.</Text
          >
          <Text size="small" stylingclasses="mb-3"
            >Mængden af madspild faldt her efter fra ca. 80-100 bananer blev
            smidt ud om dagen, til kun 10 bananer om dagen.
          </Text>
        </div>
      </div>

      <div class="relative mx-auto">
        <div class="shuffleImg absolute">
          <img src="/img/banan1.webp" alt="" />
        </div>
        <div class="shuffleImg">
          <img src="/img/bananer.png" alt="" />
        </div>
      </div>
    </div>

    <section
      class="mx-auto mb-section_buttom mt-section_top max-w-sm md:max-w-xl lg:max-w-4xl lg:mx-0 lg:mb-40"
      id="tip2"
    >
      <Link variant="orange" size="small">TIP 2</Link>
      <Heading htmlheading="h2" font="sans" size="medium" stylingclasses="my-6">
        Køb in med omtanke
      </Heading>

      <Text size="small" stylingclasses="mb-2"
        >I gennemsnittet ender vi med at smide 25% af maden vi køber ud.</Text
      >
      <Text size="small">
        Det vil svare til at hver fjerede indkøbsvogn man ser i supermarkedet
        bliver smidt ud.</Text
      >

      <div
        class="mt-8 staggeranimation flex flex-row justify-between md:grid md:grid-cols-2 lg:max-w-4xl"
        id="stagger"
      >
        <div class="md:flex md:flex-row lg:gap-10">
          <img src="/img/cart.webp" alt="" class="h-35 w-auto lg:h-50" />
          <img src="/img/cart.webp" alt="" class="h-35 w-auto lg:h-50" />
        </div>

        <div class="md:flex md:flex-row lg:gap-10">
          <img src="/img/cart.webp" alt="" class="h-35 w-auto lg:h-50" />
          <img
            src="/img/cart.webp"
            alt=""
            class="grayscale h-35 w-auto lg:h-50"
          />
        </div>
      </div>
    </section>

    <section
      class="mb-section_buttom mt-section_top mx-auto max-w-sm md:max-w-xl lg:max-w-4xl lg:mb-80"
      id="tip3"
    >
      <div class="">
        <div class="">
          <Link variant="purple" size="small">Tip 3</Link>
          <Heading
            htmlheading="h2"
            font="sans"
            size="small"
            stylingclasses="my-6"
          >
            Doggy Bags
          </Heading>
        </div>

        <div class="md:grid md:grid-cols-2 md:gap-4 lg:gap-30">
          <!-- doggy bag billede og tekst -->

          <div class="md:col-2 md:row-1 md:-mt-25 lg:-mt-70">
            <div
              class="bg-[url('/img/star.svg')] bg-no-repeat bg-contain bg-center h-100 w-auto place-content-center lg:h-185"
            >
              <img
                src="/img/doggy_bag.webp"
                alt=""
                class="mx-auto h-75 w-auto"
              />
            </div>

            <div class="flex flex-col inline">
              <Text size="small" stylingclasses="mb-2 mt-5 md:-mt-5 lg:-mt-30"
                >I adskellige forskellige resturanter har vi samarbejdskab og
                har implimenteret vores Doggy bag!</Text
              >
              <Text size="small" stylingclasses="mb-5"
                >Hvis du ikke kan spise din mad færdig kan du spørge om en doggy
                bag og tage maden med hjem!</Text
              >
            </div>
          </div>

          <!-- kort og knap -->
          <!-- <div
              class="sm:flex flex-col items-center gap-5 lg:items-baseline lg:order-1"
            >
            </div> -->

          <div class="">
            <div class="flex flex-col gap-5 md:h-100 lg:h-125">
              <div id="mapContainer" class="map-container">
                <img
                  src="/img/cph_map.webp"
                  alt=""
                  id="mapImage"
                  class="map-image h-fit w-fit"
                />
              </div>
              <!-- <Button>SE RESTURANTER</Button> -->
              <div class="place-self-center">
                <Link href="/wip" variant="purple" size="large">
                  SE RESTURANTER
                </Link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section
    class="mx-auto max-w-sm md:max-w-xl text-center mb-section_buttom mt-section_top lg:max-w-4xl"
    id="historie"
  >
    <Heading htmlheading="h1" size="medium" stylingclasses="mb-6">
      VORES HISTORIE
    </Heading>
    <Text
      >Vi er meget stolte af hvor meget Stop Spild Af Mad har mulighed for at
      udrette.
      <br />
      Her er nogle af vores højdepunkter.</Text
    >
  </section>

  <section
    class="mx-auto max-w-sm md:max-w-xl lg:mr-section_right lg:ml-section_left"
  >
    <div
      class="tidslinje sm:flex sm:flex-col lg:flex-row lg:max-h-100 lg:w-auto"
    >
      <div
        class="sm:order-3 sm:w-full sm:overflow-hidden lg:order-1 lg:w-auto lg:max-h-100 lg:overflow-y-auto"
      >
        <ul
          class="flex-row flex sm:flex-nowrap overflow-x-auto overflow-y-hidden w-full pr-55 lg:pr-0 lg:flex-col gap-10 lg:pr-3"
        >
          <li class="li1 activeTime my-2" id="li1">
            <Text size="large">2008</Text>
          </li>
          <li class="li2 my-2" id="li2"><Text size="large">2010</Text></li>
          <li class="li3 my-2" id="li3"><Text size="large">2011</Text></li>
          <li class="li4 my-2" id="li4"><Text size="large">2013</Text></li>
          <li class="li5 my-2" id="li5"><Text size="large">2014</Text></li>
          <li class="li6 my-2" id="li6"><Text size="large">2016</Text></li>
          <li class="li7 my-2" id="li7"><Text size="large">2019</Text></li>
          <li class="li8 my-2" id="li8"><Text size="large">2024</Text></li>
        </ul>
        <!-- 
        <ul class="overflow-auto w-auto pr-25 sm:hidden lg:inline">
          <li class="li1 activeTime" id="li1"><h1>2008</h1></li>
          <li class="li2" id="li2"><h1>2009</h1></li>
          <li class="li3" id="li3"><h1>2010</h1></li>
          <li class="li4" id="li4"><h1>2011</h1></li>
          <li class="li5" id="li5"><h1>2012</h1></li>
        </ul> -->
      </div>
      <div class="order-1 lg:order-3 flex flex-col lg:flex-1">
        <div
          class="flex flex-col lg:flex-row li1_content gap-5"
          id="li1_content"
        >
          <img src="/img/2008.webp" alt="" />
          <div class="flex flex-col gap-5">
            <Heading font="sans">Begyndelsen</Heading>
            <Text>
              Stop Spild Af Mad blev stiftet af Selina Juul i 2008 som en
              facebook gruppe, men voksede hurtigt til en anderkendt frivilligt
              og selvstændigt non-profit. Selina Juul var motiveret af hendes
              fortid i Moskva, hvor hun oplevede stor fødevaremangel. Da hun kom
              til Danmark tog hun derfor kampen op i mod madspild.
            </Text>
          </div>
        </div>

        <div
          class="flex flex-col li2_content inactiveBox gap-5"
          id="li2_content"
        >
          <img src="/img/2010.webp" alt="" />
          <div class="flex flex-col gap-10">
            <Heading font="sans">Med fra start</Heading>
            <Text>
              I 2010 skrev Stop Spild Af Mad i Europa-Parlamentet sammen med
              flere europæiske organisationer under på Joint Declaration Against
              Food Waste, en europæisk erklæring med formål at reducere madspild
              med minimum 50% inden 2025. Erklæringen var med til at påvirke EU
              og FN.
            </Text>
          </div>
        </div>

        <div
          class="flex flex-col li3_content inactiveBox gap-5"
          id="li3_content"
        >
          <img src="/img/2011.webp" alt="" />
          <div class="flex flex-col gap-10">
            <Heading font="sans">Overskudsmad til udsatte</Heading>
            <Text>
              Siden 2011 har Stop Spild Af Mad, samarbejdspartnere og frivillige
              indsamlet og videreformidlet over 300 tons god gratis overskudsmad
              til herberger, væresteder, asylcentre, krisecentre, kvindehjem
              samt andre hjælpeorganisationer for hjemløse og socialt udsatte.
            </Text>
          </div>
        </div>

        <div class="flex flex-col li4_content inactiveBox" id="li4_content">
          <img src="/img/2013.webp" alt="" />

          <div class="flex flex-col gap-10">
            <Heading font="sans">Doggy bags</Heading>
            <Text>
              Siden 2013 har Stop Spild Af Mad og Unilever Food Solutions uddelt
              over 60.000 gratis doggybags til over 200 restauranter og
              spisesteder i hele landet. Analyse af TNS Gallup for Stop Spild Af
              Mad viser, at over halvdelen af danskere vil tage imod en
              doggybag.
            </Text>
          </div>
        </div>

        <div
          class="flex flex-col li5_content inactiveBox gap-5"
          id="li5_content"
        >
          <img src="/img/2014.webp" alt="" />
          <div class="flex flex-col gap-10">
            <Heading font="sans">Roskilde Festival</Heading>
            <Text>
              I 2014 har Stop Spild Af Mad, samarbejdspartnere og frivillige
              indsamlet og videreformidlet 27,5 tons god gratis overskudsmad fra
              Roskilde Festival til socialt udsatte. Indsatsen vandt den
              anerkendte internationale festivalpris Green Operations Award.
            </Text>
          </div>
        </div>

        <div
          class="flex flex-col li6_content inactiveBox gap-5"
          id="li6_content"
        >
          <img src="/img/2016.webp" alt="" />
          <div class="flex flex-col gap-10">
            <Heading font="sans">Officielt en forening</Heading>
            <Text>
              Den 16. november 2016 blev Stop Spild Af Mad formelt omdannet til
              en forening.
              <br />
              <br />
              Hendes Kongelige Højhed Prinsesse Marie har siden 2016 været samarbejdspartner
              til foreningen Stop Spild Af Mad.
            </Text>
          </div>
        </div>

        <div
          class="flex flex-col li7_content inactiveBox gap-5"
          id="li7_content"
        >
          <img src="/img/2019.webp" alt="" />
          <div class="flex flex-col gap-10">
            <Heading font="sans">Tedx Talks</Heading>
            <Text>
              Stifter Selina Juul fik i 2019 igen mulighed for at holde en Tedx
              Talk. Dette skabte både mulighed for at komme længere ud i verden
              med vores mission og værdier, og var med til at sætte Danmark på
              verdens kortet i kampen mod madspild.
              <br />
              <br />
              Hendes Kongelige Højhed Prinsesse Marie har siden 2016 været samarbejdspartner
              til foreningen Stop Spild Af Mad.
            </Text>
          </div>
        </div>

        <div
          class="flex flex-col li8_content inactiveBox gap-5"
          id="li8_content"
        >
          <img src="/img/2024.webp" alt="" />
          <div class="flex flex-col gap-10">
            <Heading font="sans">Kongelig Protektion</Heading>
            <Text>
              Stop Spild Af Mad har Hendes Kongelige Højhed Prinsesse Marie som
              protektor. Hendes Kongelige Højhed Prinsesse Marie blev protektor
              for foreningen Stop Spild Af Mad den 30. maj 2024.
            </Text>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    class="mx-auto mb-section_buttom mt-section_top max-w-md md:max-w-xl lg:max-w-4xl lg:my-80"
  >
    <Heading htmlheading="h1" size="small" font="sans" stylingclasses="mb-6">
      Vores TEDx Talks
    </Heading>

    <div class="active" id="vid2012">
      <video width="100%" controls>
        <source src="img/vids/TedX_2012.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="inactive" id="vid2016">
      <video width="100%" controls>
        <source src="img/vids/TedX_2016.mp4" type="video/mp4" />
      </video>
    </div>

    <section class="grid grid-cols-2 gap-5 mt-5">
      <div
        id="2012_btn"
        class="hover:cursor-pointer bg-(--color-orange--100) hover:bg-(--color-orange--400) text-(--color-orange--400) hover:text-(--color-orange--100) transition-all duration-300 text-[2rem] rounded-(--radius-CTA) flex items-center justify-center"
      >
        <p>2012</p>
      </div>

      <div
        id="2016_btn"
        class="hover:cursor-pointer bg-(--color-orange--400) hover:bg-(--color-orange--100) text-(--color-orange--100) hover:text-(--color-orange--400) transition-all duration-300 text-[2rem] rounded-(--radius-CTA) flex items-center justify-center"
      >
        <p>2016</p>
      </div>
    </section>
  </section>

  <Articles />

  <div class="my-60">
    <a
      href="#"
      id="scrollToTop"
      class="material-icons-outlined hover:cursor-pointer"
    >
      <Button variant="black">TILBAGE TIL TOPPEN</Button>
    </a>
  </div>
</MainLayout>

<style>
  .shuffleImg {
    animation: animate 5s ease-in-out infinite;
  }

  .shuffleImg:nth-child(1) {
    animation-name: animate1;
    z-index: 2;
  }
  .shuffleImg:nth-child(2) {
    animation-name: animate2;
    z-index: 1;
  }

  @keyframes animate1 {
    0% {
      opacity: 1;
    }
    32% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    98% {
      opacity: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animate2 {
    0% {
      opacity: 0;
    }
    32% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    98% {
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .activeTime {
    color: purple;
    cursor: default;
  }

  .inactiveBox {
    display: none;
  }

  h1 {
    font-size: 4rem;
  }

  ul::-webkit-scrollbar {
    display: none;
  }

  ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  li {
    cursor: pointer;

    h1 {
      font-size: 5rem;
    }
  }

  .active {
    display: block;
  }

  .inactive {
    display: none;
  }

  .carousel {
    display: flex;
    overflow-x: auto;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 20s infinite linear;
    padding-right: 1em;
  }

  .carousel_img {
    flex: 0 0 5em;
    align-content: center;
    padding: 1em;
  }

  @keyframes spin {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }

  #scrollToTop {
    animation-timeline: scroll(y);
    scroll-behavior: smooth;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map-container.dragging {
    cursor: grabbing;
  }

  .map-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    transform: scale(3);
    transform-origin: center;
    flex-shrink: 0;
  }
</style>

<script is:inline>
  // function ScrollToTips() {
  //   document.getElementById("tips").scrollIntoView({ behavior: "smooth" });
  // }

  function ScrollToTips() {
    document.getElementById("tips").scrollIntoView({ behavior: "smooth" });
  }

  function ScrollToHistorie() {
    document.getElementById("historie").scrollIntoView({ behavior: "smooth" });
  }

  function ScrollToTip1() {
    document.getElementById("tip1").scrollIntoView({ behavior: "smooth" });
  }

  function ScrollToTip2() {
    document.getElementById("tip2").scrollIntoView({ behavior: "smooth" });
  }

  function ScrollToTip3() {
    document.getElementById("tip3").scrollIntoView({ behavior: "smooth" });
  }

  document.addEventListener("DOMContentLoaded", function () {
    // TEDx Talk JS
    const btn2012 = document.getElementById("2012_btn");
    const btn2016 = document.getElementById("2016_btn");
    const vid2012 = document.getElementById("vid2012");
    const vid2016 = document.getElementById("vid2016");

    btn2016.addEventListener("click", () => {
      vid2016.classList.remove("inactive");
      vid2016.classList.add("active");
      vid2012.classList.remove("active");
      vid2012.classList.add("inactive");

      btn2016.classList.remove("bg-(--color-orange--400)");
      btn2016.classList.add("bg-(--color-orange--100)");
      btn2016.classList.remove("text-(--color-orange--100))");
      btn2016.classList.add("text-(--color-orange--400)");

      btn2012.classList.add("bg-(--color-orange--400)");
      btn2012.classList.remove("bg-(--color-orange--100)");
      btn2012.classList.add("text-(--color-orange--100))");
      btn2012.classList.remove("text-(--color-orange--400)");
    });

    btn2012.addEventListener("click", () => {
      vid2012.classList.remove("inactive");
      vid2012.classList.add("active");
      vid2016.classList.remove("active");
      vid2016.classList.add("inactive");

      btn2012.classList.remove("bg-(--color-orange--400)");
      btn2012.classList.add("bg-(--color-orange--100)");
      btn2012.classList.remove("text-(--color-orange--100))");
      btn2012.classList.add("text-(--color-orange--400)");

      btn2016.classList.add("bg-(--color-orange--400)");
      btn2016.classList.remove("bg-(--color-orange--100)");
      btn2016.classList.add("text-(--color-orange--100))");
      btn2016.classList.remove("text-(--color-orange--400)");
    });

    // Scroll to top
    const scrollToTopBtn = document.getElementById("scrollToTop");
    if (scrollToTopBtn) {
      scrollToTopBtn.addEventListener("click", function (e) {
        e.preventDefault();
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      });
    }

    // Scroll down :3
    const scrollDown = document.getElementById("scrollDown");
    if (scrollDown) {
      scrollDown.addEventListener("click", function (e) {
        e.preventDefault();
        window.scrollTo({
          top: 750,
          behavior: "smooth",
        });
      });
    }

    // Stagger animation for cart images - Simple vanilla JS version
    function initStaggerAnimation() {
      const staggerContainer = document.getElementById("stagger");
      if (!staggerContainer) {
        console.warn("Stagger container not found");
        return;
      }

      const images = staggerContainer.querySelectorAll("img");
      if (images.length === 0) {
        console.warn("No images found in stagger container");
        return;
      }

      // Set initial opacity to 0
      images.forEach((img) => {
        img.style.opacity = "0";
        img.style.transition = "opacity 0.6s ease-in-out";
      });

      // Use Intersection Observer to trigger animation when element is in view
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              // Animate images with stagger effect
              images.forEach((img, index) => {
                setTimeout(() => {
                  img.style.opacity = "1";
                }, index * 150); // 150ms delay between each image
              });
              observer.unobserve(staggerContainer);
            }
          });
        },
        { threshold: 0.1 },
      );

      observer.observe(staggerContainer);
    }

    // Initialize stagger animation
    initStaggerAnimation();

    // ===== DRAGGABLE MAP =====
    const mapContainer = document.getElementById("mapContainer");
    const mapImage = document.getElementById("mapImage");

    if (mapContainer && mapImage) {
      let isDragging = false;
      let startX = 0;
      let startY = 0;
      let offsetX = 0;
      let offsetY = 0;
      const scale = 3;

      // Calculate maximum allowed offset
      const updateBounds = () => {
        const containerRect = mapContainer.getBoundingClientRect();
        const imageWidth = mapImage.offsetWidth * scale;
        const imageHeight = mapImage.offsetHeight * scale;

        window.maxOffsetX = (imageWidth - containerRect.width) / 2 / scale;
        window.maxOffsetY = (imageHeight - containerRect.height) / 2 / scale;
      };

      mapImage.addEventListener("load", updateBounds);
      setTimeout(updateBounds, 100);
      window.addEventListener("resize", updateBounds);

      mapContainer.addEventListener("mousedown", (e) => {
        isDragging = true;
        startX = e.clientX;
        startY = e.clientY;
        mapContainer.classList.add("dragging");
      });

      document.addEventListener("mousemove", (e) => {
        if (!isDragging) return;

        const deltaX = e.clientX - startX;
        const deltaY = e.clientY - startY;

        offsetX += deltaX;
        offsetY += deltaY;

        // Clamp offsets to prevent dragging out of bounds
        offsetX = Math.max(
          -window.maxOffsetX,
          Math.min(window.maxOffsetX, offsetX),
        );
        offsetY = Math.max(
          -window.maxOffsetY,
          Math.min(window.maxOffsetY, offsetY),
        );

        mapImage.style.transform = `scale(${scale}) translate(${offsetX}px, ${offsetY}px)`;

        startX = e.clientX;
        startY = e.clientY;
      });

      document.addEventListener("mouseup", () => {
        isDragging = false;
        mapContainer.classList.remove("dragging");
      });

      // Prevent text selection while dragging
      mapContainer.addEventListener("selectstart", (e) => {
        if (isDragging) e.preventDefault();
      });
    }

    // ===== TIDSLINJE (TIMELINE) JAVASCRIPT =====
    // This section handles the interactive timeline where users can click on years (2008-2015)
    // to switch between different content boxes showing historical events

    // Create arrays for years and their corresponding content boxes
    const timelineItems = [];
    for (let i = 1; i <= 8; i++) {
      const listElement = document.getElementById(`li${i}`);
      const contentElement = document.getElementById(`li${i}_content`);
      if (listElement && contentElement) {
        timelineItems.push({ list: listElement, box: contentElement });
      }
    }

    // Generic function to handle timeline year clicks
    function activateTimelineYear(activeIndex) {
      timelineItems.forEach((item, index) => {
        if (index === activeIndex) {
          // Activate this year
          item.list.classList.add("activeTime");
          item.box.classList.remove("inactiveBox");
        } else {
          // Deactivate all other years
          item.list.classList.remove("activeTime");
          item.box.classList.add("inactiveBox");
        }
      });
    }

    // Add click listeners to all timeline items
    timelineItems.forEach((item, index) => {
      item.list.addEventListener("click", () => {
        activateTimelineYear(index);
      });
    });
  });
</script>
